// _sass/_stars.scss
/* 全局重置（必须独立） */
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/* 页面专属 */
.star-canvas-page {
    overflow-y: auto;
    /* 启用垂直滚动 */
    overflow-x: hidden;
    /* 隐藏水平滚动条 */
    touch-action: none;
    background: black;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
}

/* canvas */
#starCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: -1;
}